# Dependencies
node_modules/

# Build output
dist/
build/

# 1. Ignore everything inside the client folder
# client/*

# 3. Explicitly unignore the lock file
!client/package-lock.json
# Environment variables
.env
.env.local
.env.production

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Testing
coverage/
.nyc_output/
